

<div class="container">

  <div class="row">

    <div class="col">
      <h3>Release date: <%= @game.release %></h3>
    </div>
    
    <div class="col-5">
        <h1><%= @game.title %></h1>
        <%= link_to 'Edit game', edit_game_path %>
        <%= link_to "Delete Game", @game, :method => 'delete', :data => { :confirm => 'Please confirm.' } %>
    </div>

    <div class="col">
        <h3>
            Developer: <%= @game.developer %>
        </h3>
    </div>
</div>

<div class="row">

    <div class="col">
        <h3>
            Description:
        </h3>
        <p>
            <%= @game.description %>
        </p>
    </div>
    
    <div class="col-5">
        <p>
            <%= image_tag (@game.image), :class => "img-fluid" if @game.image.present?%>
        </p>
    </div>

    <div class="col">
        <h3>
            Genre: <%= @game.genres.pluck(:name).join ', ' %>
        </h3>
    </div>
</div>

<div class="row">

    <div class="col">
    
    </div>

    <div class="col-5">
        <h2>Reviews</h2>
        <% @game.reviews.each do |review| %>
            <h3> <%= review.title %> </h3>
            <p> <%= review.description %> </p>
        <% end %>
    </div>

    <div class="col">
    
    </div>
</div>

</div>

