<h1><%= @game.title %></h1>

<h3>
    Release date: <%= @game.release %>
</h3>

<h2>
    Developer: <%= @game.developer %>
</h2>

<h2>
    Genre: <%= @game.genres.pluck(:name).join ', ' %>
</h2>

<br>

<h3>
    Description:
</h3>

<p>
    <%= @game.description %>
</p>

<p>
    <%= image_tag @game.image if @game.image.present? %>
</p>

<%= link_to 'Edit game', edit_game_path %>

<%= link_to "Delete Game", @game, :method => 'delete', :data => { :confirm => 'Please confirm.' } %>

<h2>Reviews</h2>

<% @game.reviews.each do |review| %>
   <h3> <%= review.title %> </h3>
    <p> <%= review.description %> </p>
<% end %>

