<h1>Write a new review</h1>

<% if @review.errors.any? %>
    <ol>
        <% @review.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ol>
<% end %>

<%= form_for @review do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :description %>
    <%= f.text_field :description %>

    <%= f.label :games_id %>
    <%= f.select :game_id, Game.pluck(:title, :id), :include_blank => true %>

    <%= f.submit "Create a new review!" %>
<% end %>